*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/home/adam/AndroidStudioProjects/AndroidTestApplication/app/src/main/java/com/example/adam/androidtestapplication/LearnToPlayAPI.java
